<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>

    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/zakwan93" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
            <li class="mb-2"><a href="https://www.instagram.com/zakwan.bhaiyat/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li class="mb-2"><a href="https://twitter.com/zakwan1993" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/zakwan-bhaiyat/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ol>
    </div>
</div>
</div>