<h1>About Me </h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "Zakwan_profile.jpg", width: 300, alt: "Profile Picture" %>
    </div>
    <div class="col-md-8">
        <p>
            Hello! I'm Zakwan Bhaiyat, a full stack developer based in New York, NY who enjoys building and learning new things that live on the internet.
            I develop exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends.
        </p>
        <p>
            I completed my Bachelor's degree in Computer Science stream from Symbiosis International University in 2015. Later, I moved to NYC in 2017, and completed web development intensive course from The New York Code + Design Academy.
        </p>
        <p>
            After completing my course I got a golden opportunity to work for same institute as a Teacher Assistant, where I got to implement my learnings and enhance my skills by helping the students which in turn made me a better programmer.
            I got an opprtunity to work with one of the leading funding company on wall street name Fast Advance Funding in March,2019. I joined the firm as a Front End Developer on the contract based to work on few projects. I worked for FAF for 4 months and delivered all the projects were allocated to me.
        </p>
        <p>
            Currently, Full-time employeed as a System Engineer for Tata Consultancy Services for almost 2 years. I have assigned and working for the same client name PricewaterhouseCoopers(PwC).
            As a full stack developer, I enjoy bridging the gap between functionality and design.
        </p>
    </div>
</div>