<h1>Get in Touch</h1>
<hr>

<p>Thank you for dropping by. I appriciate you taking the time to go through my portfolio. If you have a potential role, want get a project started, need help with something or just fancy saying hi, then get in touch.</p>

<h3>Phone </h3>
<p><%= number_to_phone "9293239120" %></p>
<hr>
<p class="lead">
    <a href="mailto:zakwanbhaiyat23@gmail.com?subject=PortfolioContact" "email me" class="btn btn-lg btn-secondary bg-dark">Email Me</a>
</p>