<main class="cover-container text-center px-3 d-flex mx-auto flex-column">
    <h1>Welome.</h1>
    <p class="lead">I'm not a great programmer, I'm just a good programmer with great habits.</p>
    <p class="lead">
        <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary bg-dark" %>
    </p>
</main>