<div class="card">
    <%= image_tag project.thumb_image unless project.thumb_image.nil? %>
    <p class="card-text">
        <span><%= link_to project.title, project_show_path(project) %></span> <%= project.subtitle %>
    </p>
</div>