<div class="card" data-id="<%= project.id %>">
    <%= image_tag project_img(project.thumb_image, 'thumb') %>
    <p class="card-text">
        <span><%= link_to project.title, project_show_path(project) %></span> <%= project.subtitle %>
    </p>
</div>