<h1> Projects </h1>

<% @projects.each do |project| %>
  <p><%= project.title %></p>
  <p><%= project.subtitle %></p>
  <p><%= project.body %></p>
  <%= image_tag project.thumb_image unless project.thumb_image.nil? %>
<% end %>